@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../imagens/Back/inteligencia-artificial-musica.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.caixa{
    border-radius: 5px;
    box-shadow: 1px 2px 3.5px 2px rgba(0, 0, 0, 0.624);
    border: 0px;
}

/* Criando o site para computador */
#cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px solid #001757;

    margin: auto;
    width: 90vw;
    height: 12vh;
}
#cabecalho > #logo{
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #001757;
}
#cabecalho > #logo > img{
    width: 120px;
    height: 78px;
}

#cabecalho > #menu{
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#cabecalho > #menu > a{
    text-decoration: none;
    color: unset;
    margin: 1px;
    padding: 5px;
    color:  #001757;
}

#corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 73vh;
}

#corpo > #playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 60%;
}

#track{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#imagem{
    width: 65%;
    height: 95%;
    background: url(../imagens/track/watch-the-kid-laroi-thousand-mil-1280x720.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 85%;
    border-radius: 5px;

}

#recuar{
    
}

#avancar{
    
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 75px;
    height: 90%;

    border-radius: 5px;
}

#rodape{
    height: calc(15vh - 4px);
}


/* Alterando para site para o telefone */